/* It's Party Time! */
.hamburger {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
    display: none;
}

@media screen and (max-width:479px) {
    .hamburger {
        display: block;
    }
}

/*let your hair down and show the goods*/
.hamburger.shownav {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 50px;
    height: 90px;
}

.dc-menu-trigger {
    position: absolute;
    top: 0px;
    right: 40px;
    display: block;
    width: 50px;
    height: 90px;
    cursor: pointer;
    z-index: 30;
    -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    -webkit-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

.dc-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    margin-top: -2px;
    background-color: #fff;
    font-size: 0px;
    user-select: none;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.dc-menu-open .dc-menu-trigger span {
    background-color: transparent;
}

.dc-menu-open .dc-menu-trigger {
    color: #000;
    /*    left: 88%;*/
    /*    transition: all 0.4s cubic-bezier(0.7, 0, 0.36, 0.63);*/
}

.dc-menu-trigger span:before,
.dc-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-trigger span:before {
    -webkit-transform: translateY(-250%);
    -ms-transform: translateY(-250%);
    -o-transform: translateY(-250%);
    transform: translateY(-250%);
}

.dc-menu-trigger span:after {
    -webkit-transform: translateY(250%);
    -ms-transform: translateY(250%);
    -o-transform: translateY(250%);
    transform: translateY(250%);
}

/*Just bust a move*/
.dc-menu-open .dc-menu-trigger span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    background-color: #000;
}

.dc-menu-open .dc-menu-trigger span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
    background-color: #000;
}


.dc-menu-close .dc-menu-trigger:before {
    animation: plusVertical 0.3s ease forwards;
}

.dc-menu-close .dc-menu-trigger:after {
    animation: plusHorizontal 0.3s ease forwards;
}

.menu-overlay {
    z-index: 10;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: none;
}

.menu-overlay.open {
    background: #F7F7F7;
    height: 100%;
}

.menu-overlay ul {
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    top: -40%;
    left: 0;
    width: 100%;
    padding: 0;
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
    -o-transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
    transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
    -webkit-transform: perspective(600px) rotateX(20deg) rotateY(-20deg);
    -ms-transform: perspective(600px) rotateX(20deg) rotateY(-20deg);
    -o-transform: perspective(600px) rotateX(20deg) rotateY(-20deg);
    transform: perspective(600px) rotateX(20deg) rotateY(-20deg);
}

.menu-overlay ul li {
    width: 200px;
    height: auto;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    margin: 65px auto;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.menu-overlay.open ul {
    /*
    top: 40px;
    left: 0;
*/
    top: 25%;
    right: 50%;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg);
    -ms-transform: perspective(600px) rotateX(0deg) rotateY(0deg);
    -o-transform: perspective(600px) rotateX(0deg) rotateY(0deg);
    transform: perspective(600px) rotateX(0deg) rotateY(0deg);
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
    -o-transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
    transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
    -webkit-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}
