@font-face {
    font-family: 'Tomoe';
    src: url(font/姫明朝ともえごぜんmini.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7F7F7;
}

p,
a {
    font-size: 20px;
    color: #001A43;
    font-feature-settings: "palt"1;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    width: 1080px;
    margin: 200px auto;
}

h1 {
    color: #001A43;
    font-family: 'Tomoe';
    font-size: 72px;
    line-height: 100px;
    letter-spacing: 7px;
    text-align: center;
}

.main .desc {
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
}

@media screen and (max-width:479px) {
    .main {
        width: 100%;
        margin: 100px auto;
    }

    h1 {
        font-size: 50px;
        line-height: 70px;
    }

    p,
    a {
        font-size: 15px;
    }

    .main .desc {
        padding: 0 40px;
    }
}

/*header
----------------------------------------*/

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header .headerImage {
    width: 100%;
    height: 100%;
    background-image: url(img/header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 25vw;
    height: 25vw;
}

header .gnavi {
    margin: 50px auto;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header li {
    position: relative;
    width: 127px;
    height: 110px;
}

header .diamond {
    position: absolute;
    left: 0;
    right: 0;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 1px solid #001A43;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: hidden;
}

header .diamond__inner {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90px;
    height: 90px;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
}

@media screen and (max-width:479px) {
    header img {
        width: 80vw;
        height: 80vw;
    }

    header .gnavi {
        display: none;
        height: 0px;
    }
}

/*旅先でもうどんだ
----------------------------------------*/
#charm .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#charm .point {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

#charm .point img {
    width: 170px;
    height: 170px;
    object-fit: contain;
}

#charm .point p {
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width:479px) {
    #charm .contents {
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
    }

    #charm .point img {
        width: 105px;
        height: 105px;
    }

    #charm .point p {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

/*ご当地うどん
----------------------------------------*/
#gotouchi {
    background-color: #FFF4D9;
    padding: 100px 0px;
}

/*おうちうどん
----------------------------------------*/
#home .main {
    margin: 200px auto 0px auto;
}

.rakuten {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 200px;
}

.rakuten .content {
    width: 300px;
    margin: 5px;
}

.rakuten .content img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.rakuten .content p {
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width:479px) {
    .rakuten {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }

    .rakuten .content {
        width: 175px;
        margin: 0 5px;
    }

    .rakuten .content img {
        width: 175px;
        height: 175px;
    }

    .rakuten .content p {
        font-size: 15px;
    }
}

/*footer
----------------------------------------*/
footer.main {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 150px;
}

footer .sns {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 50px;
    height: 50px;
}
